@font-face {
    font-family: heading;
    src: url(../font/bold.otf);
}
@font-face {
    font-family: subheading;
    src: url(../font/cooperbalck.TTF);
}

#logo{
    width: 15%;
    height: 200px;
    background-color: none;
    float: left;
    
}

.title{
    background-image: url(../images/ma1_1_orig\ \(1\).jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    height: 200px;
    background-color: rgb(35, 62, 134);
    float: left;
    font-size: 20px;
    
    
}
h2{
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 40px;
    padding-left: 10px;
    text-align: center;
    font-family: heading;
    font-size: 50px;
    text-shadow: 2px 2px black;

}
h4{
    position: relative;
    top: -55px;
    color: yellow;
    text-align: center;
    font-family: subheading;
    font-size: 50px;
    text-shadow: 2px 2px black;
    
    
}
fieldset{
    box-shadow: 6px 6px black;
    border-width: 4px;
}
h3{
    color: white;
    text-align: center;
}

#ip{
    border-radius: 4px;
    border-top-right-radius: 20px;
    line-height: 25px;
}
#ip:hover{
    border-radius: 5px;
    transition: 2s ;
}
#db{
    padding-right:10px ;
    border-top-right-radius: 20px;
    line-height: 25px;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(6, 5, 65);
    
    position: relative;
    
    float: left;
}


a{
    position: relative;
    left: 55%;
}

a:link{

    color: white;
    text-decoration: none;
     margin: 10px;
    padding: 8px;
    padding-right: 15px;
    line-height: 47px;
    font-size: 20px;
    background-color: rgba(57, 122, 57, 0.678);
    border-radius: 10px;
    border-top-right-radius:50px ;
    font-weight: bold;
    transition: 2s;
    box-shadow: 5px 5px black;
    
}

a:visited {
    color: white;
    background-color: darkslategray;
    font-size: 12px;
    box-decoration-break:slice 20;
}
a:hover{
    color: white;
    background-color: darkcyan;
    font-size: 26px;
    border-radius: 20px;
    transition:all  0.5s;
    box-shadow: 3px 3px rgb(255, 255, 255);
    

}

a:active{
    color: red;
    background-color: yellow;
    box-shadow: 2px 2px black;
}

.left{
    background-image: url(../images/martialart1.jpg);
    background-size:800px 700px;
    background-position:  ;
    background-position: center;
    width: 33.33%;
    height: 500px;
    background-color: aquamarine;
    float: left;
}

.left a {
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(250, 181, 32, 0.5);
    display:block;
    border-radius: 10px;
    border-Bottom-right-radius: 100px;
    margin-top:30px;
    box-shadow: 3px 3px black;
    position: relative;
    left: -20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left a:hover{
    background-color: darkred;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    font-size: 25px;
    transition: all 0.5s;

}

#lst{
    font-family: subheading;
    text-shadow: 2px 2px black;
    text-align: center;
    background-color: brown;
    border-top-left-radius:100px ;
    border-top-right-radius:100px ;
    box-shadow: 2px 5px black;
    padding: 5px;
    
    
    
}

.form{
    background-size: 500px;
    background-position: 30%;
    margin-top: 50px;
    position: relative;
    left: 10%;
    top:20px;    
    line-height: 24px;
    border-radius: 5px;
}

.middle{
    background-image: url(../images/martialart3.jpg);
    background-size: 580px ;
    background-repeat:no-repeat;
    background-position: bottom top;
    width: 33.33%;
    height: 500px;
    float: left;

}
legend b{
    color: white;
    background-color:rgba(3, 3, 53, 0.623);
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 4px 2px black;
    
}

#button{
    background-color: lightsk;
    color: navy;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px navy;
    
    padding: 5px;
    margin: 5px 5px;
}
#button:hover{
    background-color: rgba(25, 25, 100, 0.541);
    color: white;
    width: 70px;
    height: 30px;
    transition: all 1s;
    border-radius: 10px;
}
.right{
    background-image: url(../images/martialart2.jpg);
    background-size: 1000px ;
    background-repeat:repeat-x;
    background-position: 950px;
    width: 33.33%;
    height: 500px;
    background-color:lightpink;
    float: left;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(10, 90, 110, 1);
    float: left;
}